{
  "presets": [
    [ "@babel/preset-env", {
        "targets": {
          "node": "8.10"
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "js-logger",
      {
        "format": {
          "level": 1,
          "separator": ".",
          "extensions": [ ".js", ".jsx" ],
          "project": false
        }
      }
    ]
  ]
}