{
  "presets": [
    "env",
    "flow"
  ],
  "plugins": [
    "source-map-support",
    [
      "js-logger",
      {
        "format": {
          "level": 1,
          "separator": ".",
          "extensions": [ ".js", ".jsx" ],
          "project": false
        }
      }
    ],
    "testable"
  ]
}